* {
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    padding: 2px 2px 2px 2px;
    width: 120px;
    height: 60px;
    left: 20px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    top: 15px;
}

body {
    background-color: rgb(219, 209, 209);
    font-family: roboto;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.form {
    background-color: white;
    width: 20rem;
    margin: auto;
    border: solid 10px rgb(179, 179, 245);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    box-shadow: 0 5px 10px -5px rgb(100 100 100 / 30%);
}

.container2 {
    background-color: rgb(96, 187, 96);
    width: 20rem;
    margin: auto;
    padding: 2.5rem 2rem;
    border: solid 3px silver;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px -5px rgb(100 100 100 / 30%);
}

.form_paragraph {
    font-weight: 300;
}

.form_link {
    font-weight: 400;
    color: brown;
}

.form_container {
    margin-top: 3rem;
    display: grid;
    gap: 2.5rem;
}

.form_group {
    position: relative;
}

.form_input {
    width: 100%;
    background: none;
    color: black;
    font-size: 1.2rem;
    padding: .4rem .3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid steelblue;
    font-family: roboto;
    cursor: pointer;
}

.form_label {
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: -15px;
    left: 5px;
}

.form_label2 {
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
}

.form_submit {
    background-color: seagreen;
    color: snow;
    font-family: roboto;
    font-weight: 300;
    font-size: 1rem;
}

.form_input2 {
    width: 100%;
    background: none;
    color: cornsilk;
    font-size: 1rem;
    font-family: roboto;
    cursor: pointer;
}